<h2>All Assignments</h2>
<% if (assignments.length > 0){ %>
    <div>
        <h3>Upcoming Assignments</h3>
        <% assignments.forEach(assignment => { %>
            <% if (assignment.days_left >= 0) { %>
                <div> <%=assignment.module_code%> <%=assignment.assignment_name%> <%=assignment.formatted_date%> <%=assignment.days_left_tag%> </div>
            <% } %>
        <%}) %>
    </div>
    <br/>
    <div>
        <h3>Past Assignments</h3>
        <% assignments.forEach(assignment => { %>
            <% if (assignment.days_left < 0) { %>
                <div> <%=assignment.module_code%> <%=assignment.assignment_name%> <%=assignment.formatted_date%> <%=assignment.days_left_tag%> </div>
            <% } %>
        <%}) %>
    </div>
    
    <%}else { %>
    <div>No assignments</div>
<%}%>
